body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}

#hero {
    margin: 73px 0;
}

#hero h1{
	font-size: 40px;
}

#hero h2{
	font-size: 20px;
}
