body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Noto Sans TC', sans-serif;
}
h1{
	font-size:24px;
}

#hero {
    margin: 75px 0;
	padding-top: 150px;

}

#hero h1{
	font-size: 40px;
}

#hero h2{
	font-size: 20px;
}

p.text1{
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 1.5px;
}